<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<footer id="main-footer" th:fragment="footerFragment"
        class="overlap-group">
    <div class="rectangle"></div>
    <div class="text-wrapper">Ro:D</div>
    <nav>
        <ul role="list">
            <li>
                <button class="text-wrapper-2" type="button">이용약관</button>
            </li>
            <li>
                <button class="text-wrapper-8" type="button">
                    개인정보 처리 방침
                </button>
            </li>
        </ul>
    </nav>
    <div class="company-info-wrapper">
        <div class="frame-5">
            <div class="frame-6">
                <div class="text-wrapper-6">상호명</div>
                <div class="text-wrapper-7">주식회사 로:드</div>
            </div>
            <div class="frame-7">
                <div class="text-wrapper-6">주소</div>
                <div class="text-wrapper-7">경상북도 경산시 대학로 280</div>
            </div>
        </div>
        <div class="frame">
            <h3 class="text-wrapper-3">상호명</h3>
            <address class="frame-2">
                <div class="frame-3">
                    <div class="text-wrapper-4">이메일 문의</div>
                    <a href="mailto:12345668@gmail.com" class="text-wrapper-5"
                    >12345668@gmail.com</a
                    >
                </div>
                <div class="frame-4">
                    <div class="text-wrapper-4">SMS 문의</div>
                    <a href="tel:010-0000-0000" class="text-wrapper-5"
                    >010-0000-0000</a
                    >
                </div>
            </address>
        </div>
    </div>
    <p class="p">Copyright ⓒ 2025 진정한팀. All Rights Reserved.</p>
</footer>
</body>

