/* --- Global --- */
body {
    
    display: flex;
    justify-content: center;
}

.screen {
    width: 375px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px; /* Add some horizontal padding */
    box-sizing: border-box;
}

/* --- Progress Bar --- */
.progress-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.progress-segment {
    width: calc(100% / 6);
    height: 8px;
    background-color: #D9D9D9;
    border-radius: 4px;
}

.progress-segment.filled {
    background-color: #00809D;
}

/* --- Content --- */
.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    padding: 0 20px;     /* 좌우 여백 20px 추가 */
    margin-top: 50px;
    gap: 15px; /* 요소 간 간격 */
}

.step-text {
    font-size: 15px; /* 임의의 사이즈, 필요시 조절 */
    font-weight: 700;
    color: #000;
}

.prompt-text {
    font-size: 20px; /* 임의의 사이즈, 필요시 조절 */
    font-weight: 700;
    color: #000;
}

/* --- Address Search --- */
.address-search-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

#address-input {
    flex-grow: 1;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #A1A1A1;
    border-radius: 5px;
}

#search-address-button {
    height: 40px;
    padding: 0 15px;
    border: none;
    background-color: #515151;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
    font-weight: 700;
}

/* --- Next Button --- */
.next-button-container {
    width: 100%;
    padding: 0 20px; /* 좌우 20px */
    box-sizing: border-box;
    margin-top: 400px;
    margin-bottom: 30px;
}

.next-button {
    width: 100%;   /* 컨테이너 안에서 꽉 채움 = 좌우 20px 여백 확보 */
    height: 50px;
    border: none;
    border-radius: 5px;
    
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.next-button:disabled {
    background-color: #D9D9D9; /* 연한 색 */
    color: #A1A1A1;
    cursor: not-allowed;
}

.next-button:enabled {
    background-color: #515151; /* 진한 색 */
    color: white;
}