<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>G:DO 로그인</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-container">
    <div class="image-placeholder">
    </div>
    <h1 class="welcome-message">G:DO에 어서오세요!</h1>
    <form th:action="@{/users/login}" th:object="${UserLoginDTO}" method="post" class="login-form">
        <div th:if="${param.error}" class="error-message-top">
            <p style="color:red">아이디 또는 비밀번호가 올바르지 않습니다.</p>
        </div>

        <input type="text" th:field="*{loginId}" placeholder="아이디 입력" required class="input-field">
        <input type="password" th:field="*{loginPw}" placeholder="비밀번호 입력" required class="input-field">

        <button type="submit" class="login-btn">로그인</button>
    </form>
    <a th:href="@{/users/signup}" class="signup-btn">회원가입 하기</a>
</div>

</body>
</html>
