<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Ro:D - 월간매거진</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/monthly-magazine.css}" />
</head>
<body>
<div class="screen">
    <main class="magazine-main">
        <div th:replace="~{/fragments/header :: headerFragment(currentPage=${currentPage})}"></div>
        <div class="magazine-list">
            <th:block th:each="item, iterStat : ${magazineItems}">
                <button th:if="${iterStat.index == 0 and currentPage == 1}"
                        class="magazine-item"
                        th:onclick="|location.href='@{/monthly-magazine/1}'|">
                    <div class="item-image" th:style="'background-image: url(' + @{${item.imageUrl}} + ');'"></div>
                    <h3 class="item-title" th:text="${item.title}">월간매거진_제목</h3>
                    <p class="item-snippet" th:text="${item.snippet}">월간매거진_본문</p>
                </button>
                <button th:unless="${iterStat.index == 0 and currentPage == 1}"
                        class="magazine-item"
                        disabled>
                    <div class="item-image" th:style="'background-image: url(' + @{${item.imageUrl}} + ');'"></div>
                    <h3 class="item-title" th:text="${item.title}">월간매거진_제목</h3>
                    <p class="item-snippet" th:text="${item.snippet}">월간매거진_본문</p>
                </button>
            </th:block>
        </div>

        <nav class="pagination-container" aria-label="Page navigation">
            <a th:href="@{/monthly-magazine(page=1)}" class="page-arrow-btn first-page" aria-label="First page">
                <img th:src="@{/images/last-page.png}" alt="첫 페이지로"/>
            </a>

            <th:block th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{/monthly-magazine(page=${pageNumber})}"
                   class="page-number-btn"
                   th:classappend="${pageNumber == currentPage} ? 'active'"
                   th:text="${pageNumber}"
                   th:aria-current="${pageNumber == currentPage} ? 'page'">
                </a>
            </th:block>

            <a th:href="@{/monthly-magazine(page=${totalPages})}" class="page-arrow-btn last-page" aria-label="Last page">
                <img th:src="@{/images/last-page.png}" alt="마지막 페이지로"/>
            </a>
        </nav>
    </main>

    <div th:replace="~{/fragments/footer :: footerFragment}"></div>
</div>
</body>
</html>
