<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Ro:D - 맛집</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/restaurants.css}" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div class="screen">
    <main class="div">
        <div th:replace="~{/fragments/header :: headerFragment}"></div>

        <section class="category-section">
            <div class="category-buttons">
                <button class="category-button active" type="button">한식</button>
                <button class="category-button" type="button">중식</button>
                <button class="category-button" type="button">일식</button>
                <button class="category-button" type="button">양식</button>
                <button class="category-button" type="button">아시안</button>
                <button class="category-button" type="button">기타</button>
            </div>
        </section>

        <section class="attractions-list">
            <div class="frame-14">
                <article class="frame-15" data-place-id="7">
                    <a href="/restaurants/1" class="img-wrapper">
                        <button class="img-2" type="button" aria-label="찜하기">
                            <img src="/images/tabler_heart.svg" alt="" />
                        </button>
                    </a>
                    <div class="frame-16">
                        <h3 class="text-wrapper-3">왕이모네식당</h3>
                        <p class="text-wrapper-12">경북 경산시 진량읍 대구대로 60길 5-10 포시즌</p>
                    </div>
                </article>
                <article class="frame-17" data-place-id="8">
                    <a href="/restaurants/2" class="img-wrapper">
                        <button class="img-2" type="button" aria-label="찜하기">
                            <img src="/images/tabler_heart.svg" alt="" />
                        </button>
                    </a>
                    <div class="frame-16">
                        <h3 class="text-wrapper-3">자인식육식당</h3>
                        <p class="text-wrapper-12">경북 경산시 자인면 일연로 56</p>
                    </div>
                </article>
            </div>
            <div class="frame-14">
                <article class="frame-15" data-place-id="9">
                    <a href="/restaurants/3" class="img-wrapper">
                        <button class="img-2" type="button" aria-label="찜하기">
                            <img src="/images/tabler_heart.svg" alt="" />
                        </button>
                    </a>
                    <div class="frame-16">
                        <h3 class="text-wrapper-3">돈우리</h3>
                        <p class="text-wrapper-12">경북 경산시 청운로 37 봉명빌</p>
                    </div>
                </article>
                <article class="frame-17" data-place-id="10">
                    <a href="/restaurants/4" class="img-wrapper">
                        <button class="img-2" type="button" aria-label="찜하기">
                            <img src="/images/tabler_heart.svg" alt="" />
                        </button>
                    </a>
                    <div class="frame-16">
                        <h3 class="text-wrapper-3">장군제육</h3>
                        <p class="text-wrapper-12">경북 경산시 청운 1로 6-1 라온빌</p>
                    </div>
                </article>
            </div>
            <div class="frame-14">
                <article class="frame-15" data-place-id="11">
                    <a href="/restaurants/5" class="img-wrapper">
                        <button class="img-2" type="button" aria-label="찜하기">
                            <img src="/images/tabler_heart.svg" alt="" />
                        </button>
                    </a>
                    <div class="frame-16">
                        <h3 class="text-wrapper-3">듬성 경산하양 본점</h3>
                        <p class="text-wrapper-12">경북 경산시 하양읍 대학로295길 6-9</p>
                    </div>
                </article>
                <article class="frame-17" data-place-id="12">
                    <a href="/restaurants/6" class="img-wrapper">
                        <button class="img-2" type="button" aria-label="찜하기">
                            <img src="/images/tabler_heart.svg" alt="" />
                        </button>
                    </a>
                    <div class="frame-16">
                        <h3 class="text-wrapper-3">마당닭갈비</h3>
                        <p class="text-wrapper-12">경북 경산시 남산면 하대2길 32-17</p>
                    </div>
                </article>
            </div>
        </section>

    </main>

    <div th:replace="~{/fragments/footer :: footerFragment}"></div>
</div>
<script th:inline="javascript">
    var isLoggedIn = /*[[${isLoggedIn}]]*/ false;
</script>
<script th:src="@{/js/attractions.js}"></script>
</body>
</html>
