<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Ro:D - 맛집</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/restaurants.css}" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div class="screen">
    <main class="div">
        <div th:replace="~{/fragments/header :: headerFragment}"></div>

        <section class="category-section">
            <div class="main-category-buttons">
                <button class="main-category-button active" type="button" data-main-category="taste">맛집</button>
                <button class="main-category-button" type="button" data-main-category="mood">상황·분위기별</button>
            </div>
            <div id="taste-sub-categories" class="sub-category-buttons active">
                <button class="sub-category-button active" type="button" data-sub-category="로컬">로컬</button>
                <button class="sub-category-button" type="button" data-sub-category="트렌디">트렌디</button>
                <button class="sub-category-button" type="button" data-sub-category="가성비">가성비</button>
                <button class="sub-category-button" type="button" data-sub-category="특산물">특산물</button>
            </div>
            <div id="mood-sub-categories" class="sub-category-buttons">
                <button class="sub-category-button" type="button" data-sub-category="데이트">데이트</button>
                <button class="sub-category-button" type="button" data-sub-category="혼밥">혼밥</button>
                <button class="sub-category-button" type="button" data-sub-category="모임/회식">모임/회식</button>
                <button class="sub-category-button" type="button" data-sub-category="비지니스">비지니스</button>
            </div>
        </section>

        <section id="restaurant-list" class="attractions-list">
            <!-- Restaurant list will be dynamically inserted here by JavaScript -->
        </section>

    </main>

    <div th:replace="~{/fragments/footer :: footerFragment}"></div>
</div>
<script th:inline="javascript">
    var isLoggedIn = /*[[${isLoggedIn}]]*/ false;
</script>
<script th:src="@{/js/restaurants.js}"></script>
</body>
</html>
